/*General style*/
body{
	background-color: #101010;
	font-family: 'Raleway', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
	color: white;
	text-align: center;
}

h3, h4{
	font-size: 3em;
}

h1{
	text-align: center;
	font-size: 5em;
	color: #4A8038;
	text-shadow: 2px 2px black;
	padding: 40px 0px 30px 0px;
}

p{
	color: #7DCA97;
	font-size: 1.3em;
}

a:hover{
	text-decoration: none;
}

/*Dividing line*/
.line{
	border-top: 1px solid #171717;
	margin-bottom: 10px;
}

/*1st row*/
.Header{
	color: #6CE16C;
	background-color: #020202;
	text-align: center;
	margin-top: -20px;
	font-size: 4em;
	position: fixed;
	z-index: 0;
	width: 100%;
}

.Header img{
	border-radius: 120px;
	border: solid 2px #0D810A;
}

/*Anything after header*/
.page-wrap{
	position: relative;
	top: 300px;
	background-color: #101010;
}

/*2nd row*/
.About{
	background-color: #090909;
	padding-bottom: 20px;
}

.About h3, h4{
	color: #19A347;
}

/*3rd row*/
.Work{
	margin-top: 60px;
}

.Work .Text{
	width: 50%;
	text-align: center;
	color: #94FF70;
}

.Work .Text a{
	text-decoration: none;
	color: #5EA348;
}

.Work .Text h2{
	font-size: 4em;
}

.Work .Text p{
	font-size: 1.3em;
}

.Work .Image{
	width: 50%;
	text-align: center;
}

/*4th row*/
.Tools{
	background-color: #090909;
	margin-top: 80px;
	height: 100%;
}

.Tools .Tool{
	height: 180px;
	width: 150px;
	padding-top: 20px;
	background-color: #101010;
	position: relative;
	bottom: 20px;
	box-shadow: inset 2px 2px 5px black;
	border-radius: 5px;
	border: 1px solid #090909;
}

.Tools .Tool img{
	
}

.Tools .container{
	padding-top: 50px;
}

.Tools .container > div{
	padding-bottom: 20px;
}

.Tool:hover{
	background-color: #141414;
	box-shadow: 2px 2px 5px black;
	border: 0px solid black;
}

.Tool p{
	color: white;
	font-size: 1.8em;
	position: relative;
}

@media(max-width: 991px){
	.Tools .Tool img{
		transform: scale(0.7);
	}
	.Tools .Tool{
		font-size: 70%;
		height: 150px;
		width: 105px;
		padding-top: 1%;
	}
}
/*@media(max-width: 715px){
	.Tools .Tool img{
		transform: scale(0.5);
		padding-left: -50px;
	}
	.Tools .Tool{
		font-size: 50%;
		height: 150px;
		width: 75px;
	}
}*/

/*5th row*/
.Contact{
	background-color: #131313;
}

/*6th row*/
.footer{
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: #909093;
	text-align: center;
	width: 100%;
	height: auto;
}

.footer p:first-of-type{
	position: relative;
	top: 7px;
}